/* Header Navigation */
.header {
    font-family: 'Poppins', sans-serif !important;
    background: rgb(255, 255, 255) !important;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1) !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    z-index: 1000 !important;
    transition: all 0.3s ease !important;
    height: 80px;
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

.left-section {
    display: flex;
    align-items: center;
    gap: 42px;
    font-weight: bold;
    color: #663399;
    padding-left: 36px;
    height: 80px;

}

.nav-menu {
    display: flex;
    gap: 72px;
    list-style: none;
    padding-left: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.nav-menu a {
    text-decoration: none;
    color: #4C0E54;
    font-style: bold;
    font-weight: 700;
    transition: color 0.3s ease;
    position: relative;
    font-size: 19px;
}

.nav-menu a:hover {
    color: #64126F;
}

.nav-menu a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 13px;
    background: #64126F;
    transition: width 0.3s ease;
}

.nav-menu a:hover::after {
    width: 80%;
}

.team-portal {
    background: #fafafa;
    color: #4C0E54;
    border: 2px solid  hwb(0 78% 22%);
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: 700;
    margin-left: auto;
    margin-right: 36px;
    display: flex;
    align-items: center;
}

.team-portal:hover {
    background: #4C0E54;
    color: white;
    transform: translateY(-2px);
}

/* Responsive */
@media (max-width: 768px) {
    .nav-menu {
        display: none;
    }
}