.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    padding: 0 10px;
}
.left-section {
    display: flex;
    align-items: center;
    gap: 24px;
}
.back-btn {
    margin-top: 2rem;
    background: transparent;
    border: 1px solid #703777;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; /* added to vertically center text */
    transition: all 0.3s ease;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 14px;
    font-size: 13px;
    font-weight: 600;
    color: #703777;
    text-decoration: none;
    width: fit-content;
}

.back-btn:hover {
    transform: translateX(-1px);
    box-shadow: 0 4px 12px rgba(76, 14, 84, 0.1);
    background-color: #703777;
    color: whitesmoke;
} 
.header-logo {
    display: flex;
    align-items: center;
    height:40px;
    margin-right: 10px;
}

.right-section {
    display: flex;
    align-items: center;
    gap: 24px;
}
.logout-btn {
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    height: 40px;
    color: #310037;
    border: none;
    border-radius: 14px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid #E5E5EF;
    text-decoration: none;
}

.logout-btn:hover {
    transform: translateY(-2px);
    background: linear-gradient(135deg, #ef4444 0%, #dc2626 100%);
    box-shadow: 0 4px 12px rgba(74, 2, 59, 0.3);
    color: white;
    border: none;
}

.logout-btn:active {
    transform: translateY(0);
}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
