@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background: linear-gradient(135deg, #fff7ff 0%, #FFFAFF 100%);
    min-height: 100vh;
    position: relative;
    color: #310037;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../images/common/bgimage.png");
    background-size: 1298px 1298px;
    background-position: -517px -125px;
    background-repeat: no-repeat;
    opacity: 0.1;
    z-index: -1;
}

.container {
    margin:0 auto;
    margin-left: 64px;
    margin-right: 64px;
}

